
{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="d-flex justify-content-between flex-wrap 
        flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>EBD</h2>
        <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>
    
    <div class="row"> 
        
        <!-- Card Alunos -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 border-left-primary shadow h-10 py-2">
                <div class="card-body">
                    <h5 class="text-xs font-weight-bold text-primary 
                    text-uppercase mb-1">
                        Alunos
                    </h5>
                    <p class="card-text">
                        Mostra a lista com todos os estudantes e suas 
                        respectivas informações.  
                    </p>
                    <div class="d-flex justify-content-between 
                    align-items-center">
                        <a href="{% url 'listar_alunos' %}" class="btn btn-primary btn-block">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Professores -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 border-left-warning shadow h-10 py-2">
                <div class="card-body">
                    <h5 class="text-xs font-weight-bold text-primary 
                    text-uppercase mb-1">
                        Professores</h5>
                    <p class="card-text">
                        Mostra a lista com todos os educadores e suas 
                        respectivas informações.  
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="" class="btn btn-warning btn-block">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Turmas -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 border-left-success shadow h-10 py-2">
                <div class="card-body">
                    <h5 class="text-xs font-weight-bold text-primary 
                    text-uppercase mb-1">
                        Turmas
                    </h5>
                    <p class="card-text">
                        Mostra a lista com todas as salas e suas respectivas 
                        informações.  
                    </p>
                    <div class="d-flex justify-content-between 
                    align-items-center">
                        <a href="" class="btn btn-success btn-block">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Card Administração -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 border-left-danger shadow h-10 py-2">
                <div class="card-body">
                    <h5 class="text-xs font-weight-bold text-primary 
                    text-uppercase mb-1">
                        Administração
                    </h5>
                    <p class="card-text">
                        Mostra a lista de todas as salas e suas respectivas 
                        informações.  
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="" class="btn btn-danger btn-block">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
{% endblock %}
