{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <!-- titulo -->
    <h1 class="h3 mb-4 text-gray-800">Aluno</h1>
    <hr class="sidebar-divider d-none d-md-block">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Edição aluno(a): {{ aluno }}
            </h6>
        </div>
        <div class="card-body">
            <form action="{% url 'update_aluno' aluno.ID_Aluno %}" 
                enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        {{ form|bootstrap }}
                        <br>
                        <button class="btn btn-success" type="submit">Salvar</button>
                        <a class="btn btn-warning" type="button" onclick="alerta()" 
                        href="{% url 'listar_alunos' %}">
                            Voltar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>

    <script>
        function alerta(){
            alert("Ao voltar o registo não será salvo!");
        }
        var cleave = new Cleave('#id_data', {
            date: true,
            delimiter: '/',
            datePattern: ['d', 'm', 'Y']
        });
        var cleave = new Cleave('#id_cpf', {
            delimiters: ['.', '.', '-'],
            blocks: [3, 3, 3, 2],
            uppercase: true
        });
        var cleave = new Cleave('#id_telefone', {
            delimiters: ['-'],
            blocks: [2, 5, 4],
            uppercase: true
        });
        var cleave = new Cleave('#id_cep', {
            delimiters: ['-'],
            blocks: [5, 3],
            uppercase: true
        });
        var cleave = new Cleave('#id_telefoneResp', {
            delimiters: ['-'],
            blocks: [2, 5, 4],
            uppercase: true
        });
    </script>
{% endblock %}